.App{
    text-align: center;
}

.start{
    padding: 10px;
    background-color:green;
    color:white;
    border-radius: 7px;
}
.start:hover{
    transform: scale(1.2);
}
.PlayerForm{
    border: 1px solid black;
    margin-left: 150px;
    margin-right: 150px;
}
.gridrow{
    display: flex;
    flex-direction: row;
}
.grid{
    margin-left: 45%;
}   